<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="/css/show.css">
    <title>Document</title>
</head>
<body>
<div class="table-container">
    <h1>Sorted by Hospitals</h1>
    <div th:each="elel: ${doctors}">
        <h2 th:text="'Hospital id: ' + ${elel.get(0).getHospitalId()}"></h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Hospital name</th>
        </tr>
        </thead>
        <tbody>

        <div th:each="el: ${elel}">
            <tr>
                <td th:text="${el.id}"></td>
                <td th:text="${el.name}"></td>
                <td th:text="${el.specialty}"></td>
                <td th:text="${el.hospitalName}"></td>
            </tr>
        </div>

        </tbody>
    </table>
</div>
<div class="footer">
    <div class="card">
        <a href="/">
            <button type="button" class="btn btn-sm btn-outline-secondary" >
                Back
            </button>
        </a>
    </div>
</div>
</div>
</div>
</section>
</div>
</body>
</html>