
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    width: 66%;
    margin: auto;
  }

  @keyframes gradient-animation {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}

  html {
    height: 120%;
    width: 100%;
    background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
  }
  
  
button {
    background-color: #ff0000;
    border: none;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #b30000;
}
  .form_header {
    background-color: #b71010;
    padding-left: 7%;
    margin-top: 40px;
    padding-top: 10px;
    color: #ffffff;
    height: 100px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .form_body {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;
    transform: scale(1.15);
    background: rgba(255, 255, 255, 0.9);
  }

          .edit-btn {
            background-color: #2c07ff;
            color: white;
            border: none;
            padding: 5px 10px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 5px;
        }

        .edit-btn:hover {
            background-color: #3f4db6;
        }
  
  .foot {
    line-height: 150%;
    display: flex;
    justify-content: space-evenly;
    background-color: #b71010;
    height: 100px;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 50px;
  }
  
  .table-container {
    margin: 20px auto;
    max-width: 800px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: white;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #6f68eb;
}

.footer{
    text-align: center;
}

.footer button {
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 5% 15px 5%;
    cursor: pointer;
    border-radius: 5px;
}

.footer button:hover {
    background-color: #1d7531;
}